$mobile: 620px;

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 4px;
    border-bottom: solid .5px black;
    text-align: center;
    &> h4{
        color:#3646c0;
        width:100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    @media screen and (max-width: $mobile){
        display: none;
    }
}