.container{
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    z-index: 1000;
    &__ImageContainer{
        max-width: 1440px;
        max-height: 970px;
    }
}