.container {
  position: absolute;
  right: 0;
  width: fit-content;
  height: 100%;
  border-radius: 8px;
  background-color: white;
  transition: width 1.5s ease-in-out;
  padding: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  transition: opacity .3s ease-in .2s;
  overflow: hidden;
  &__status {
    width: 200px;
    height: auto;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
  }
  &__open {
    @extend .container;
    height: auto;
    opacity: 1;
  }
  &__close {
    @extend .container;
    height: auto;
    opacity: 0;
  }
}
